%header.hero-unit
  %h1 Install App
%p In order to use the Copy feature in Chrome, you will need to install this Chrome App.
%p
  %a.btn.btn-primary{href: '/bits-n-bytes.crx'} Install Chrome App
%p Support of other browsers coming soon.
